<div id="fb3d-ctx" class="flip-book">
  <div class="view">
    <div class="fnav">
      <div class="prev">
        <a class="cmdBackward" href="#"><span class="icon"><i class="fa fa-angle-left" title="<$tr>이전 페이지</$tr>"></i></span></a>
      </div>
      <div class="next">
        <a class="cmdForward" href="#"><span class="icon"><i class="fa fa-angle-right" title="<$tr>다음 페이지</$tr>"></i></span></a>
      </div>
    </div>
    <div class="widLoadingProgress loading-progress hidden">
      <div class="progress">
      </div>
      <div class="txtLoadingProgress caption">
      </div>
    </div>
    <div class="widLoading page-loading hidden">
    </div>
  </div>

  <div class="widFloatWnd float-wnd hidden">
    <div class="header">
      <$tr>목차 보기</$tr>
      <a href="#" title="<$tr>Close</$tr>" class="close cmdCloseToc">
        <span class="icon"><i class="fa fa-times"></i></span>
      </a>
    </div>
    <div class="body">
      <div class="ctrl">
        <div class="toc">
          <div class="toc-menu widTocMenu">
            <ul>
              <li class="cmdBookmarks"><a href="#"><$tr>책갈피</$tr></a></li>
              <li class="cmdThumbnails"><a href="#"><$tr>페이지/축소판</$tr></a></li>
              <li class="cmdSearch"><a href="#"><$tr>찾기</$tr></a></li>
            </ul>
          </div>
          <div class="widBookmarks toc-view">

          </div>
          <div class="widThumbnails toc-view">

          </div>
          <div class="widSearch toc-view">

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="controls">

    <div class="ctrl js-center">
      <nav class="fnavbar">
        <ul class="fnav">

          <li class="fnav-item cmdZoomIn"><a href="#"><span class="icon"><i class="fa fa-search-plus" title="<$tr>확대</$tr>"></i></span></a></li>
          <li class="fnav-item cmdZoomOut"><a href="#"><span class="icon"><i class="fa fa-search-minus" title="<$tr>축소</$tr>"></i></span></a></li>
          <li class="fnav-item cmdDefaultZoom"><a href="#"><span class="icon"><i class="fa fa-compress" title="<$tr>화면에 맞추기</$tr>"></i></span></a></li>
          <li class="fnav-item cmdToc"><a href="#"><span class="icon"><i class="fa fa-bookmark" title="<$tr>목차</$tr>"></i></span></a></li>
          <li class="fnav-item cmdFastBackward"><a href="#"><span class="icon"><i class="fa fa-fast-backward" title="<$tr>이전 10 페이지</$tr>"></i></span></a></li>
          <li class="fnav-item cmdBackward"><a href="#"><span class="icon"><i class="fa fa-backward" title="<$tr>이전 페이지</$tr>"></i></span></a></li>
          <li class="fnav-item">
            <div class="pages">
              <input type="text" class="number inpPage" maxlength="4" placeholder="1">
              <input type="text" class="amount inpPages" readOnly maxlength="4" placeholder="1">
            </div>
          </li>
          <li class="fnav-item cmdForward"><a href="#"><span class="icon"><i class="fa fa-forward" title="<$tr>다음 페이지</$tr>"></i></span></a></li>
          <li class="fnav-item cmdFastForward"><a href="#"><span class="icon"><i class="fa fa-fast-forward"  title="<$tr>다음 10 페이지</$tr>"></i></span></a></li>
          <li class="fnav-item cmdSave"><a href="#"><span class="icon"><i class="fa fa-download"  title="<$tr>다운로드</$tr>"></i></span></a></li>
          <li class="fnav-item cmdPrint"><a href="#"><span class="icon"><i class="fa fa-print"  title="<$tr>인쇄</$tr>"></i></span></a></li>
          <li class="fnav-item cmdFullScreen"><a href="#"><span class="icon"><i class="fa fa-arrows-alt" title="<$tr>전체화면</$tr>"></i></span></a></li>
          <li class="dropup fnav-item toggle widSettings">
            <a href="#"><div class="icon-caret"><span class="icon"><i class="fa fa-cog" title="<$tr>설정</$tr>"></i> <i class="caret"></i></span></div></a>
            <ul class="menu hidden">
              <li  class="cmdSmartPan"><a href="#"><span class="icon"><i class="fa fa-eye"></i></span> <$tr>스마트펜</$tr></a></li>
              <li  class="cmdSinglePage"><a href="#"><span class="icon"><i class="fa fa-file-o"></i></span> <$tr>단일 페이지</$tr></a></li>
              <li  class="cmdSounds"><a href="#"><span class="icon"><i class="fa fa-volume-up"></i></span> <$tr>소리</$tr></a></li>
              <li  class="cmdStats"><a href="#"><span class="icon"><i class="fa fa-line-chart"></i></span> <$tr>상태</$tr></a></li>
              <li class="divider"></li>
              <li  class="cmdLightingUp"><a href="#"><span class="icon"><i class="fa fa-chevron-up"></i></span> <$tr>밝기 증가</$tr></a></li>
              <li  class="cmdLightingDown"><a href="#"><span class="icon"><i class="fa fa-chevron-down"></i></span> <$tr>밝기 감소</$tr></a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>

  </div>
</div>
